.square {
    width: 100px;
    height: 100px;
    background: #aa0033;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: normal;
}